<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.url">jdbc:derby:javaDB;create=true</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated classes -->
        <mapping class="com.dxnrb.logic.players.Player"/>
        <mapping class="com.dxnrb.logic.cards.Card"/>
        <mapping class="com.dxnrb.logic.cards.BuildingPile"/>
        <mapping class="com.dxnrb.logic.cards.DiscardPile"/>
        <mapping class="com.dxnrb.logic.cards.DrawPile"/>
        <mapping class="com.dxnrb.logic.cards.StockPile"/>

    </session-factory>
</hibernate-configuration>
